# etc/systemd/system/forgor-digest.timer

[Unit]
Description=Trigger FORGOR summary service every 10 min

[Timer]
OnCalendar=*:0/10
Persistent=true
Unit=forgor-digest.service

[Install]
WantedBy=timers.target
