# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
env/
.venv/
venv/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Uploads / user content
uploads/

# Media files
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.webm

# Logs
*.log
