[Unit]
Description=Gunicorn for MIA2 Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/root/projects/mia-2
Environment="PATH=/root/projects/mia-2/env/bin"
ExecStart=/root/projects/mia-2/env/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 app:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target