server {
    listen 80;
    server_name forgor.space www.forgor.space;

    root /var/www/BUILDMDOE-Website;
    index index.html;

    client_max_body_size 20M;

    location / {
        rewrite ^/([a-zA-Z0-9_-]+)$ /$1.html break;
        try_files $uri $uri.html $uri/ =404;
    }

    location /api/ {
        # Rate limit
        # limit_req zone=one burst=5 nodelay;

        # Block scraping
        if ($http_user_agent ~* (curl|wget|bot|scrapy|python-requests)) {
            return 403;
        }
        if ($http_user_agent = "") {
            return 403;
        }

        proxy_pass http://127.0.0.1:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Authorization $http_authorization;
    }
}